.container {
  margin-inline: auto;
  display: flex;
  max-width: var(--maxSectionWidth);
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: var(--sectionPadding);
}

.containerCh {
  flex-direction: row-reverse;
}

.containerNkor {
  flex-direction: row-reverse;

}

.containerNoi {
  flex-direction: row-reverse;
}

.containerNoi > :nth-child(1) img {
  max-width: 274px;
}

.containerCh > :nth-child(1) img {
  max-width: 160px;
}

.containerRef > :nth-child(1) img {
  max-width: 220px;
}

.containerMh > :nth-child(1) img {
  max-width: 300px;
}

.containerNkor > :nth-child(1) img {
  max-width: 250px;
}

.containermhTisztito > :nth-child(1) img {
  max-width: 300px;
}



.photoContainer {
  display: flex;
  justify-content: center;
  width: 39.36%;
}

.textContainer {
  width: 60.64%;
}

.img {
  height: 100%;
  width: 100%;
  max-height: 460px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.titleContainer img {
  max-height: 30px;
}

.p {
  margin-bottom: 2rem;
}

.MianPriceContainer {
  width: 100%;
}

.textContainerBottom {
  display: flex;
  align-items: start;
  gap: 4rem;
}

.listcontainer  {
 width: 100%;
}

.listcontainer ul {
  padding-left: 1rem;
}

.li {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  background-color: none !important;
  font-size: 15px;
  color: var(--colorP);
  padding: 0;
  margin-left: 1.8rem;
  line-height: 22.5px;
  position: relative;
}

.li::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color:  var(--colorP);;
  border-radius: 100%;
  position: absolute;
  left: -15px;
  top: 8px;
}

.priceContainer {
  display: flex;
  gap: 3rem;
  padding-left: 1rem;
}

.bottomTitle {
  font-weight: 700;
  line-height: 32px;
  font-size: 21px;
}

.bottomPrice {
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  padding-left: 0.5rem;
}

@media screen and (max-width: 1048px) {
  .container {
    flex-direction: column;
  }

  .photoContainer {
    width: 100%;
  }

  .priceContainer {
    gap: 0rem;
  }

  .textContainer {
    width: 100%;
  }

  .textContainerBottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .img {
    max-width: 200px;
  }

  .containerNoi > :nth-child(1) img {
    max-width: 200px;
  }

  .containerCh > :nth-child(1) img {
    max-width: 139px;
  }

  .containerRef > :nth-child(1) img {
    max-width: 200px;
  }

  .containerMh > :nth-child(1) img {
    max-width: 200px;
  }


  
  .containerNkor > :nth-child(1) img {
    max-width: 180px;
  }
  
  .containermhTisztito > :nth-child(1) img {
    max-width: 200px;
  }
}
