.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.color_top {
  position: absolute;
  object-fit: cover;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


@media screen and (max-width: 836px) {
    .ul {
        display: none;
      }
}