.styles {
  background-color: brown;
}

.photo {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
  position: relative;
}



.container {
  max-width: 890px;
  border-radius: 999px;
  position: relative;
  z-index: 0;
  margin-inline: auto;
  position: relative;
  border: 1px solid var(--colorP) ;
  padding-top: 1rem;
}

@media screen and (max-width: 1171px) {
  .container {
    max-width: 650px;
  }
}

@media screen and (max-width: 690px) {
  .container {
    max-width: 442px;
  }
}

@media screen and (max-width: 496px) {
  .container {
    max-width: 280px;
    border-radius: 60px;
    padding-top: 0rem;
    padding: .5rem;
  }

  .photo  {
    padding: .5rem;
  }

  .photo img {
    width: 120px;
    height: 120px;
  }
}
